.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #001529;

    .left {
      font-size: 1.2rem;
      line-height: 45px;
      width: 200px;
      height: 100%;
      text-align: center;
      font-weight: bold;
    }

    .menu {
      flex-grow: 1;
    }
  }

  .content {
    flex-grow: 1;
  }

  .footer {
    height: 40px;
    background-color: gainsboro;
    text-align: center;
    font-size: 0.9rem;
    line-height: 40px;
  }
}
